################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shape3D/.vs/Shape3D/v16
/Shape3D/Shape3D_app/Debug
/Shape3D/Debug
/.vs
